script#results-template(type='text/x-handlebars-template')
  {{#each .}}
  li.clearfix
    .song-info
      h3 
        .group
          a.action.btn.btn-primary.pull-right.button-positive(href='#add/{{{JSON . }}}')
            i.icon-plus-sign 
        | {{title}}
        em {{artist}}
  {{/each}}